body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: cover;
  z-index: -1;
  filter: grayscale(40%) saturate(0.78);
  -webkit-filter: grayscale(40%) saturate(0.78);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
